<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks App</title>
</head>
<body>
    <h1> Fruits show page</h1>
<!-- These are EJS tags  -->
<!-- Use equal signs when accessing a single value to display -->
    The name of this drink is <%= drink.name %>
    The price of this drink is <%= drink.price %>

    <!-- this a tag sends us back to our index page using the route that is in our server -->
     <a href="/drinks">Back to Index</a>
    </body>
  </html> 
    
</body>
</html>